<ion-header ck-header title="Preguntas">
</ion-header>

<ion-content padding>

    <ck-question *ngIf='questions.length && question && !questionsCompleted' [question]='question' (confirmClicked)='onConfirmClicked($event)'>
    </ck-question>

    <div *ngIf='questionsCompleted' center text-center>
        <h3>¡Examen Completo!</h3>
        <p> Puntaje Total : {{ totalGrade }} </p>
        <button ion-button color="primary" (click)='goToAdmissionExams()'>Regresar al Inicio</button>
    </div>
</ion-content>